/* debug */

.bg_blue {
  border: 1px solid blue;
  height: 110px;
}

.bg_red {
  border: 1px solid red;
  height: 100px;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg_yellow {
  border: 2px solid yellow;
}

.bg_pink {
  border: 1px solid pink;
  height: 200px;
}

/* typhography */

.header_top {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.header_top .logo {
  font-size: 26px;
}



/* mix */
.btn_green {
  background-color: #1CBC9B;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
}

.bg_green {
  background-color: #1CBC9B;
}

.p_top_80 {
  padding-top: 0px;
}
.p_bottom_80 {
  padding-bottom: 80px;
}

/* navigation */

.header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100px;
  line-height: 100px;
  background-color: #2C3E4F;
  text-transform: uppercase;
}

.header_top a {
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  line-height: 50px;
  font-size: inherit;
  margin-left: 5px;
}

.font_nav a {
  padding-left: 20px;
}


/* hover */
.logo:hover {
  text-decoration: none;
  color: #fff;
}
.font_nav a:hover {
  color: #1CBC9B;
  text-decoration: none;
}

/* jumbotron */

.jumbo {
  margin-top: 75px;
  padding: 70px 0;
}
.jumbo_text {
  max-width: 900px;
  padding: 0 15px;
  margin: auto;
  text-align: center;
  color: #fff;
}

.img_small {
  width: 30%;
  display: inline-block;
}

.jumbo_text h1 {
  font-size: 5rem;
  font-weight: 900;
}

.jumbo_text p {
  font-size: 2rem;
}

/* divider */
.divider {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0;
}

hr {
  display: inline-block;
  width: 10%;
  vertical-align: middle;
  margin: 0 10px;
  height: 10px;
  border-top: 5px solid #fff;
}

/* portfolio */
#portfolio .divider {
  color: #2C3E4F;
}

#portfolio .divider hr {
  border-top: 5px solid #2C3E4F;
}
.box_portfolio {
  height: 250px;
  background-color: blue;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 3%;
}

.box_portfolio img {
  width: 100%;
}

.overlay {
  display: none;
}

.overlay i {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}


/* Media queries */
@media screen and (max-width: 991px) {
  .nav_start {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  .nav_start {
    font-size: 0.8em;
  }
}
