/* debug */

.bg_blue {
  border: 1px solid blue;
  height: 110px;
}

.bg_red {
  border: 1px solid red;
  height: 100px;
}

.bg_green {
  border: 1px solid green;
  height: 300px;
  position: relative;
  margin-top:
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg_yellow {
  border: 2px solid yellow;
}

.bg_pink {
  border: 1px solid pink;
  height: 200px;
}

/* debug */

body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
.header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 75px;
  line-height: 75px;
  background-color: #2C3E4F;

}

a {
  font-size: 1.75em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.nav_start:hover {
  text-decoration: none;
  color: #fff;
}

.font_nav {
  font-size: 1rem;
}

.font_nav a {
  padding: 10px;
}

.font_nav a:hover {
  color: #1CBC9B;
  text-decoration: none;
}
