.bg_red {
  border: 1px solid red;
  height: 100px;
}

.bg_blue {
  border: 1px solid blue;
  height: 110px;
}

.bg_green {
  border: 1px solid green;
  height: 300px;
  position: relative;
  margin-top: 
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
